@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Fira Code", monospace;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Fira Code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(228, 228, 228);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  display: none !important;
}
.css-hlj6pa-MuiDialogActions-root {
  display: none !important;
}
.css-epd502 {
  background-color: rgb(121, 165, 182);
  border-radius: 24px;
}

.login {
  width: 100vw;
  height: 100vh;
  color: black;
  font-weight: 900;
}

.field {
  width: 407px;
  height: 60px;
}
input[type="email"] {
  padding: 12px 20px;
}
input[type="text"] {
  padding: 12px 20px;
}
input[type="password"] {
  padding: 12px 20px;
}
th,
td {
  padding: 15px;
}

/* profile pic hover */

div.profilecrl {
  position: relative;
  top: -90px;
  height: 230px;
  width: 230px;
  border-radius: 99%;
  background-color: rgb(130, 134, 130);
  box-shadow: 10px 10px 35px -15px rgba(0, 0, 0, 0.75);
  @media(max-width:767px){
    top: -50px;
    height: 100px;
    width: 100px;
  }
}

div.profilecrl img {
  position: absolute;
  top: 0;
  /* height: 240px;
  width: 320px; */
}

div.profilecrl i {
  color: white;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: scale(4);
}

div.profilecrl:hover img {
  opacity: 0.4;
  filter: grayscale(100%);
}

div.profilecrl * {
  transition: all 0.35s ease-in-out;
}

div.profilecrl i {
  transform: scale(0);
}

div.profilecrl:hover i {
  transform: scale(3);
  transition: transform 0.35s ease-in;
}
.swiper {
  width: 100%;
  max-width: 75vw;
  height: 330px;
  border-radius: 10px;
  background-color: rgb(179, 188, 199);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.sidebar {
  width: 100%;
  max-width: 18rem;
  max-height: 100vh;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  transition: transform 0.3s ease;
  color: white;
  background: rgb(5, 1, 71);
  background: linear-gradient(
    180deg,
    rgb(11, 5, 131) 0%,
    rgb(10, 10, 156) 47%,
    rgb(5, 81, 222) 100%
  );
  @media(max-width:1200px){
    max-width: 15.2rem;
  }
}

.sidebar-active {
  z-index: 100;
  position: absolute;
  animation: left-to-right 0.3s ease-in;
  width: 18rem;
  min-height: 100vh;
  color: white;
  background: rgb(5, 1, 71);
  background: linear-gradient(
    180deg,
    rgb(11, 5, 131) 0%,
    rgb(10, 10, 156) 47%,
    rgb(5, 81, 222) 100%
  );
}
@keyframes right-to-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 600px) {
  .swiper {
    width: 100%;
    max-width: 96vw;
    height: 330px;
    border-radius: 10px;
    background-color: rgb(179, 188, 199);
  }
  .sidebar-active {
    position: fixed;
    top: 0;
  }
}

@media screen and (max-width: 1000px) {
 
  .sidebar {
    animation: right-to-left 0.3s ease-in;
    left: -150%;
  }
  .field {
    width: 90vw;
    height: 60px;
    margin: auto;
  }
  input[type="email"] {
    padding: 12px 20px;
  }
  input[type="text"] {
    padding: 12px 20px;
  }
  input[type="password"] {
    padding: 12px 20px;
  }
}

/* some copy paste boiler plate hamburger menu animation */

.checkbtn {
  @media (max-width: 1000px) {
    position: relative;
    /* transform: translate(-50%, -50%); */
    cursor: pointer;
    transition: 0.5s ease;
    height: 20px;
    z-index: 10;
    margin: 0.5rem;
    &:hover .bar {
      box-shadow: 1px 1px 7px 1px RGBa(0, 0, 0, 0.3);
    }
    .bar {
      width: 30px;
      height: 3px;
      background: black;
      box-shadow: 1px 1px 3px RGBa(0, 0, 0, 0.4);
      border-radius: 1px;
      transition: 0.4s ease;
      &:not(:first-child) {
        margin-top: 7px;
      }
    }
  }
}

#check {
  display: none;
  position: absolute;
  left: -999px;
  top: -999px;
}

/* #check:checked + .num{
  background-color: red;
  color: red;
 }
 
 
#check:checked + .checkbtn {
  position: fixed;
  width: 20px;
  left: 20px;
  transform: translate(-50%, -50%) rotatey(180deg);
  .bar {
    height: 10px;
    transform: rotatey(180deg) rotatex(360deg);
    &:first-child {
      transform: rotate(-40deg);
      margin-top: 20px;
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      margin-top: -30px;
      transform: rotate(45deg);
    }
  }
} */
