@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Fira Code', monospace;
  font-family: 'Inter', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Fira Code', monospace;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(228, 228, 228);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root{
  display: none !important;
}
.css-hlj6pa-MuiDialogActions-root{
  display: none !important;
}
.css-epd502{
  background-color: rgb(121, 165, 182);
  border-radius: 24px;

}

.login{
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-family: 'Itim', cursive;
}

.field{
  width: 407px;
  height: 60px;
}
input[type=email] {
 
  padding: 12px 20px;

}
input[type=text] {
 
  padding: 12px 20px;

}
input[type=password] {
 
  padding: 12px 20px;

}
th, td {
  padding: 15px;
}


/* profile pic hover */

div.profilecrl {
  position: relative;
  top: 20px;
  height: 230px;
  width: 230px;
  border-radius: 99%;
  background-color: rgb(130, 134, 130);
  box-shadow: 10px 10px 35px -15px rgba(0,0,0,0.75);
}

div.profilecrl img {
  position: absolute;
  top: 0;
  /* height: 240px;
  width: 320px; */
}

div.profilecrl i {
  color: white;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: scale(4)
}

div.profilecrl:hover img {
  opacity: 0.4;
  filter: grayscale(100%);
}

div.profilecrl * {
  transition: all 0.35s ease-in-out;
}

div.profilecrl i {
  transform: scale(0);
}

div.profilecrl:hover i {
  transform: scale(3);
  transition: transform 0.35s ease-in;
}

